@media(max-width: 426px) {
	.education {
		font-size: 16px;
		.timeline-item {
			padding-left: 80px;
			&::before {
				left: 28px;
				top: 60px;
			}
			&__year {
				width: 60px;
				height: 60px;
				line-height: 60px;
			}
			&__title {
				display: block;
			}
		}
	}
}

@media(max-width: 321px) {
	.about {
		font-size: 17px;
	}
}