@import 'font-awesome/font-awesome.scss';
@import 'base';
@import 'fonts';


.header {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 99;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	&__menu {
		&-links {
			text-transform: uppercase;
		}
		.slick-current &-link {
			color: $accent;
			border-color: $accent;
		}
		&-link {
			display: block;
			border: 3px solid transparent;
			border-radius: 10px;
			padding: 10px 20px;
			transition: all 0.2s linear;
			text-align: center;
			margin: 0 auto;
			&:hover {
				color: $accent;
				border-color: $accent;
			}
		}
	}
}

.main {
	padding-top: 120px;
	min-height: 100vh;
	background-image: url('../img/dest/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	padding: 20px 0;
	&__inner {
		min-height: calc(100vh - 160px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__name {
		margin: 0 0 10px 0;
	}
	&__position {
		margin: 0 0 20px 0;
		font-size: 26px;
	}
	&__links {
		li {
			margin-bottom: 15px;
			.fa {
				font-size: 26px;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
}

.education {
	padding: 20px 0;
	.timeline {
		max-width: 815px;
		margin: 0 auto;
		&-item {
			position: relative;
			padding: 10px 10px 40px 120px;
			min-height: 80px;
			&::before {
				content: '';
				position: absolute;
				top: 80px;
				bottom: 0;
				left: 38px;
				border-left: 2px solid $primary;
			}
			&:last-child::before {
				border-left: 2px dashed $primary;
			}
			&__year {
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 80px;
				border: 2px solid $primary;
				border-radius: 50%;
				text-align: center;
				line-height: 80px;
			}
			&__text {
				p {
					margin: 0 0 10px 0;
				}
			}
			&__title {
				text-decoration: underline;
			}
		}
	}
}

.skills {
	padding: 20px 0;
	&-items {
		max-width: 650px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	&-item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 30px;
		&__title {
			font-size: 24px;
			margin-right: 20px;
			width: 110px;
		}
		&__progressbox {
			display: flex;
			align-items: center;
			width: 100%;
			flex-basis: 80%;
		}
		&__progress {
			width: 100%;
			background-color: #fff;
			height: 7px;
			&line {
				height: 100%;
				background-color: $accent;
			}
		}
		&__percents {
			margin-left: 20px;
		}
	}
}

.portfolio {
	padding: 20px 0;
	.tabs {
		border-radius: 20px;
		overflow: hidden;
		max-width: 450px;
		margin: 0 auto 50px auto;
		display: flex;
		&__button {
			padding: 10px 20px;
			width: 50%;
			font-size: 24px;
			background-color: $accent;
			color: $primary;
			transition: all 0.3s ease-out;
			&--active {
				background-color: $accent-dark;
			}
			&:hover {
				background-color: $accent-dark;
			}
		}
		&-items {
			@include wrapper(15px);
			img {
				width: 300px;
				max-width: 100%;
				border-radius: 30px;
				margin: 15px;
			}
		}
	}
}

@import 'media';